/* General body styling */
body {
    text-align: center;
    background-image: url('https://img.freepik.com/free-photo/design-space-paper-textured-background_53876-34033.jpg?ga=GA1.1.2077057216.1736178285&semt=ais_hybrid');
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


form {
    max-width: 500px;
    margin: 50px auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
}


fieldset {
    border: 2px solid #007BFF;
    border-radius: 8px;
    padding: 20px;
}

legend {
    font-size: 1.5em;
    color: #007BFF;
    font-weight: bold;
}


label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

input[type="radio"],
input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
}


button {
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}
